<div id="footerBg">
		<div id="footerWrap">
			<div id="footer">
				<div class="one-third">

					<h3><cufon style="width: 49px; height: 18px;" alt="Latest " class="cufon cufon-canvas"><canvas style="width: 62px; height: 18px; top: 0px; left: -1px;" height="18" width="62"></canvas><cufontext>Latest </cufontext></cufon><cufon style="width: 39px; height: 18px;" alt="blog " class="cufon cufon-canvas"><canvas style="width: 52px; height: 18px; top: 0px; left: -1px;" height="18" width="52"></canvas><cufontext>blog </cufontext></cufon><cufon style="width: 41px; height: 18px;" alt="posts" class="cufon cufon-canvas"><canvas style="width: 50px; height: 18px; top: 0px; left: -1px;" height="18" width="50"></canvas><cufontext>posts</cufontext></cufon></h3>
					<span class="subtitle"><cufon style="width: 22px; height: 12px;" alt="Our " class="cufon cufon-canvas"><canvas style="width: 30px; height: 12px; top: 0px; left: -1px;" height="12" width="30"></canvas><cufontext>Our </cufontext></cufon><cufon style="width: 30px; height: 12px;" alt="latest " class="cufon cufon-canvas"><canvas style="width: 39px; height: 12px; top: 0px; left: -1px;" height="12" width="39"></canvas><cufontext>latest </cufontext></cufon><cufon style="width: 26px; height: 12px;" alt="blog " class="cufon cufon-canvas"><canvas style="width: 35px; height: 12px; top: 0px; left: -1px;" height="12" width="35"></canvas><cufontext>blog </cufontext></cufon><cufon style="width: 27px; height: 12px;" alt="posts" class="cufon cufon-canvas"><canvas style="width: 34px; height: 12px; top: 0px; left: -1px;" height="12" width="34"></canvas><cufontext>posts</cufontext></cufon></span>
					<div class="latest blog posts">
						<ul id="latestfooterblogs">
						
						</ul>
					</div> <!-- end latest blog posts -->
				</div> <!-- end one third -->
				
				<div class="one-third">
					<h3><cufon style="width: 49px; height: 18px;" alt="Latest " class="cufon cufon-canvas"><canvas style="width: 62px; height: 18px; top: 0px; left: -1px;" height="18" width="62"></canvas><cufontext>Latest </cufontext></cufon><cufon style="width: 51px; height: 18px;" alt="tweets" class="cufon cufon-canvas"><canvas style="width: 60px; height: 18px; top: 0px; left: -1px;" height="18" width="60"></canvas><cufontext>tweets</cufontext></cufon></h3>
					<span class="subtitle"><cufon style="width: 34px; height: 12px;" alt="Check " class="cufon cufon-canvas"><canvas style="width: 42px; height: 12px; top: 0px; left: -1px;" height="12" width="42"></canvas><cufontext>Check </cufontext></cufon><cufon style="width: 20px; height: 12px;" alt="our " class="cufon cufon-canvas"><canvas style="width: 29px; height: 12px; top: 0px; left: -1px;" height="12" width="29"></canvas><cufontext>our </cufontext></cufon><cufon style="width: 30px; height: 12px;" alt="latest " class="cufon cufon-canvas"><canvas style="width: 39px; height: 12px; top: 0px; left: -1px;" height="12" width="39"></canvas><cufontext>latest </cufontext></cufon><cufon style="width: 37px; height: 12px;" alt="activity" class="cufon cufon-canvas"><canvas style="width: 42px; height: 12px; top: 0px; left: -1px;" height="12" width="42"></canvas><cufontext>activity</cufontext></cufon></span>
					<div class="latest tweets">

							<div class="message" id="twitterFooter"><ul><li><span class="twitterPrefix"><p class="twitterStatus">New year, new job? Ten companies that are hiring <a target="_blank" href="http://t.co/x72w24lt">http://t.co/x72w24lt</a> <em class="twitterTime"><a target="_blank" href="http://twitter.com/jobshoutnews/statuses/142703663817822200">- about 16 hours ago</a></em><span class="username"> - @ <a target="_blank" href="http://twitter.com/jobshoutnews/statuses/142703663817822200">jobshoutnews</a></span></p></span></li><li><span class="twitterPrefix"><p class="twitterStatus">New year, new job? Ten companies that are hiring <a target="_blank" href="http://t.co/YZcy9ntA">http://t.co/YZcy9ntA</a> <em class="twitterTime"><a target="_blank" href="http://twitter.com/jobshoutnews/statuses/142657872562622460">- about 19 hours ago</a></em><span class="username"> - @ <a target="_blank" href="http://twitter.com/jobshoutnews/statuses/142657872562622460">jobshoutnews</a></span></p></span></li></ul></div>
							<p><a class="btn black" href="http://twitter.com/jobshoutnews"><span>All tweets</span></a></p>
					   <!-- Twitter --> 
					</div>
					
					<h3><cufon style="width: 44px; height: 18px;" alt="Social" class="cufon cufon-canvas"><canvas style="width: 57px; height: 18px; top: 0px; left: -1px;" height="18" width="57"></canvas><cufontext>Social</cufontext></cufon></h3>
					<span class="subtitle"><cufon style="width: 36px; height: 12px;" alt="Follow " class="cufon cufon-canvas"><canvas style="width: 45px; height: 12px; top: 0px; left: -1px;" height="12" width="45"></canvas><cufontext>Follow </cufontext></cufon><cufon style="width: 14px; height: 12px;" alt="us " class="cufon cufon-canvas"><canvas style="width: 23px; height: 12px; top: 0px; left: -1px;" height="12" width="23"></canvas><cufontext>us </cufontext></cufon><cufon style="width: 23px; height: 12px;" alt="here" class="cufon cufon-canvas"><canvas style="width: 28px; height: 12px; top: 0px; left: -1px;" height="12" width="28"></canvas><cufontext>here</cufontext></cufon></span>

					<div class="social">
						<ul>
							<li><a href="http://www.facebook.com/pages/Jobshout/139675936083142" target="_blank"><img original-title="Our Facebook fan page!" class="ttip" src="assets/images/icons/social-fb.png" alt="Facebook"></a></li>
							<li><a href="http://twitter.com/#!/jobshoutnews" target="_blank"><img original-title="Follow us onTwitter" class="ttip" src="assets/images/icons/social-twitter.png" alt="Follow us onTwitter"></a></li>
							<li><a href="http://www.linkedin.com/company/226287" target="_blank"><img original-title="Our Linkedin account" class="ttip" src="assets/images/icons/social-linkedin.png" alt="Our Linkedin account"></a></li>
							<li><a href="callto://jobshout" title="jobshout"><img original-title="Call us on Skype" class="ttip" src="assets/images/icons/social-skype.png" alt="Call us on Skype"></a></li>
							</ul>
					</div> <!-- end social -->
				</div> <!-- end one third -->
				
				<div class="one-third">

					<h3><cufon style="width: 63px; height: 18px;" alt="Contact " class="cufon cufon-canvas"><canvas style="width: 76px; height: 18px; top: 0px; left: -1px;" height="18" width="76"></canvas><cufontext>Contact </cufontext></cufon><cufon style="width: 17px; height: 18px;" alt="us" class="cufon cufon-canvas"><canvas style="width: 27px; height: 18px; top: 0px; left: -1px;" height="18" width="27"></canvas><cufontext>us</cufontext></cufon></h3>
					<span class="subtitle"><cufon style="width: 25px; height: 12px;" alt="Let's " class="cufon cufon-canvas"><canvas style="width: 34px; height: 12px; top: 0px; left: -1px;" height="12" width="34"></canvas><cufontext>Let's </cufontext></cufon><cufon style="width: 30px; height: 12px;" alt="make " class="cufon cufon-canvas"><canvas style="width: 39px; height: 12px; top: 0px; left: -1px;" height="12" width="39"></canvas><cufontext>make </cufontext></cufon><cufon style="width: 38px; height: 12px;" alt="contact" class="cufon cufon-canvas"><canvas style="width: 45px; height: 12px; top: 0px; left: -1px;" height="12" width="45"></canvas><cufontext>contact</cufontext></cufon></span>
						<form class="cmxform" id="contactForm" method="post" action="/contact/save">
							<fieldset>
								<p><input value="" name="name" id="name" type="text" placeholder="Name"></p>
								<p><input name="email" value="" id="email" type="text" placeholder="Email"></p>
								<p><input  name="phone" value="" id="phone" type="text" placeholder="Telephone"></p>
								<p><textarea cols="30" rows="10" class="required" name="message" id="message"></textarea></p>
								
							</fieldset>
							<p><button class="submit" type="submit" class="contactFooterBtn" name="sendmail">Send</button></p>
						</form>
				</div> <!-- end one third -->
				
			</div> <!-- end footer -->
</div>
<script src="js/jquery.validate.js"></script>
<script>
	$("#contactForm").validate({
		rules: {
			name: "required",
			email: {
				required: true,
				email: true
			},
			comment: "required",
			blog_uuid : "required"
		},
		messages: {
			name: "Please enter your name",
			email: {
				required: "Please enter your E-mail",
				email: "Please enter valid E-mail"
			},
			comment: "Please leave your message!",
			blog_uuid: "Required Field!"
		}
	});

$(document).ready(function() {
	$.getJSON("/search-results?start=0&s=&type=blog&limit=3",function(html){
			if(html.error){
				$("#latestfooterblogs").before('<div class="alert">No blogs found!</div>');
			}else{
				
				var contentHtml="";
				$.each(html.aaData, function(i,row){
					if(row.Code!=""){
						contentHtml+='<li>';
						contentHtml+='<div class="img"><img src="assets/images/content/images/blog-recent-01.jpg" alt="demo"></div>';
						contentHtml+='<div class="content">';
						contentHtml+='<h6><a href="/'+row.Code+'" title="'+row.Document+'">'+row.Document+'</a></h6>';
						if(row.Published_timestamp){
							var a = new Date(row.Published_timestamp * 1000);
							var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
							var year = a.getFullYear();
							var month = months[a.getMonth()];
							var date = a.getDate();
							contentHtml+='<span class="date">'+date+' '+months+' '+year+'</span>';
						}
						contentHtml+='</div></li>';
                    }
				});
				$("#latestfooterblogs").html(contentHtml);
			}
	});
});

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-156302-11']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
	
<script type="text/javascript"> Cufon.now(); </script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33431555-1']);
  _gaq.push(['_setDomainName', 'jobshout.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
