<%  include include/main-header %>
</head>
<body>
<div id="wrapper">
	<% include include/header %>

	<div id="contentContainer" class="full-width">
		<!-- cookie law uk notice -->
			<% include include/cookie-law-notice %>
    	<!-- cookie law uk notice -->
		<div id="content" >
					<div class="portfolio grid">
				<ul>

					<li class="image">
						<div>
							<a href="images/casestudies/a4plus.jpg" rel="imagegallery" class="caseStdy">
								<img src="images/casestudies/a4plus-small.jpg" alt="A4 Plus" />
							</a>
						</div>
						<h6>A4 Plus</h6>
						<p>Here is another job board using JobShout, this time for a recruitment agency that deals with drawing services through people using CAD software. In particular it has a check-in and check-out system for work files, which enables people to send projects to the agency and for the agency to send them on to the customer. Also it has a fully featured quotation management system. </p>
						<p class="buttons"><a href="http://www.a4plus.co.uk" class="btn black" style="color:#FFF;" target="blank"><span>View Website</span></a></p>
					</li>


					<li class="image">
						<div>
							<a href="images/casestudies/cvscreen.jpg" rel="imagegallery" class="caseStdy">
								<img src="images/casestudies/cvscreen-small.jpg" alt="CV Screen" />
							</a>
						</div>
						<h6>CV Screen</h6>
						<p>This company is also in recruitment, though this time it is for IT. Search Engine Optimisation (SEO) is very important to them as this is such a competitive industry. One thing which is very important are location-based mini-sites with pages being optimised to ensure that they are found whenever someone does an appropriate search.</p>
						<a href="http://www.cvscreen.co.uk" class="btn black" style="color:#FFF;" target="blank"><span>View Website</span></a>
					</li>
                
					<li class="image">
						<div>
							<a href="images/casestudies/propelmobile.jpg" rel="imagegallery" class="caseStdy">
								<img src="images/casestudies/propelmobile-small.jpg" alt="Propel Mobile" />
							</a>
						</div>
						<h6>Propel Mobile</h6>
						<p>PropelMobile is a site advertising jobs that are recruited for in the mobile industry. The job board software is based on Jobshout, and this handles the collecting and advertising of positions, and the monitoring of responses. Having a blog was very important here, as was Search Engine Optimisation (SEO) to make sure that jobs were easy to find in searches.</p>
						<a href="http://www.propelmobile.co.uk/" class="btn black" style="color:#FFF;" target="blank"><span>View Website</span></a>
					</li>
					<li class="image">
						<div>
							<a href="images/casestudies/hNr.jpg" rel="imagegallery" class="caseStdy">
								<img src="images/casestudies/hNr-small.jpg" alt="Accountancy Work" />
							</a>
						</div>
						<h6>Humans, Not Robots</h6>
						<p>This implementation of Jobshout was done for a new recruitment operation. It is an imaginatively designed site, done by TenthMatrix and has the job board functionality of Jobshout.</p>
						<a href="http://www.accountancyworkjobs.co.uk" class="btn black" style="color:#FFF;" target="blank"><span>View Website</span></a>
					</li>
					
					<li class="image">
						<div>
							<a href="images/casestudies/propel.jpg" rel="imagegallery" class="caseStdy">
								<img src="images/casestudies/propel-small.jpg" alt="Propel London" />
							</a>
						</div>
						<h6>Propel London</h6>
						<p>This is another implementation for Propel London, here showing a message to celebrate their tenth birthday. This is a very nice site, full of colour, and is run entirely by TenthMatrix's software. Again this is a standard Jobshout implementation.</p>
						<a href="http://www.propellondon.com" class="btn black" target="_blank" style="color:#FFF;"><span>View Website</span></a>
					</li>

					<li class="image">
						<div>
							<a href="images/casestudies/helixrecruitment.jpg" rel="imagegallery" class="caseStdy">
								<img src="images/casestudies/helixrecruitment-small.jpg" alt="Helix Recruitment" />
							</a>
						</div>
						<h6>Helix Recruitment</h6>
						<p>Healthcare and related spheres are the metier for Helix Recruitment and a stylish site fully run by Jobshout supports this recruitment work. This gives a good idea of what a standard implementation of the Jobshout system can do. </p>
						<a href="http://jobs.helixrecruitment.co.uk" style="color:#FFF;" class="btn black" target="blank"><span>View Website</span></a>
					</li>
					
				</ul>
			
			<!-- end gallery -->
			</div>
			
			
		</div> <!-- end content -->
		
	</div>
</div>

   	<!--footer start-->
    <% include include/footer %>
    <!--footer end-->
</body>
</html>