<% include ../partials/main-header %>
</head>
<body>
<div id="wrapper">
	<% include ../partials/header %>
<!-- end topWrap -->
	
	<div id="contentContainer" class="full-width">
    <div id="header">
      <div id="carousel">
        <div id="slider"><img src="assets/images/content/headers/propel-mobile-jobshout-slider.png" alt="Propel Mobile Website" /> <img src="assets/images/content/headers/a4plus-jobshout-slider.gif" alt="A4 Plus website" /> <img src="assets/images/content/headers/cvscreen-jobshout-slider.gif" alt="CV Screen website" /> <img src="assets/images/content/headers/helix-jobshout-slider.gif" alt="Helix Recruitment job board" /> <img src="assets/images/content/headers/marshall-jobshout-slider.gif" alt="Marshall Harber job board" /> <img src="assets/images/content/headers/humannotrobots-jobshout-slider.gif" alt="Humans not robots digital recruitment job board" /> </div>
        <!-- end slider -->
      </div>
      <!-- end coursel -->
      <div id="sliderRight">
        <h2>Jobshout builds your online presence so you can concentrate on building your business.</h2>
        <p>Jobshout is a Job board software with integrated Recruitment process management, now with ATS ( Applicant Tracking System ). Jobshout is fully integrated with Broadbean and Social Media network sites, and it can run your entire business efficiently and save you time and money over and over again.</p>
        <p>Jobshout can provide tailored solution to each client and turn complex business processes into simple and easy to use software.</p>
        <p class="buttons"> <a class="btn black" href="/key-features"><span>Learn more</span></a> <a class="btn black" href="/signup" target="_blank" title="Register for Jobshout demo"><span>Register for demo</span></a> </p>
      </div>
      <!-- end headerRight -->
    </div>
    <!-- end header -->
    
        <!-- cookie law uk notice -->
		<% include ../partials/cookie-law-notice %>
    	<!-- cookie law uk notice -->

    
    <div id="content">
      <div class="one-third">
        <!--img class="border" src="assets/images/content/images/jobshout_app_294x130.gif" alt="Multitasking proffesionals" /-->
        <h2>Create your own job board or full recruitment website</h2>
        <p><img style="margin-right: 5px" src="http://static.jobshout.co.uk/images/features/search.gif" border="0" align="left" />Jobshout is an online service that lets you publish job adverts on your own website, using your own branding. Its automated SEO features help you outperform the competition in web searches on Google and other search engines, and it monitors and manages the results. It's a powerful tool that can literally transform a recruitment business or HR department. <br />
          <a class="btn black" href="key-features.html"><span>Read more</span></a></p>
      </div>
      <div class="one-third">
        <!--img class="border" src="assets/images/content/images/one-third-02.png" alt="Bring color in your company" /-->
        <h2>Attract active and passive candidates - fast.</h2>
        <p>Jobshout lets you quickly build a searchable database of active and passive candidates. It also integrates with LinkedIn - now with <a href="apply-with-linkedin.html" title="Apply with LinkedIn">Apply with LinkedIn</a>. The software lets you quickly publish your jobs on your own website as well as other job boards via Broadbean and lets visitors search your job database and apply online. The candidates are able to search and apply for vacancies by sector, skills, location or key word searches.<br />
          <a class="btn black" href="key-features.html"><span>Read more</span></a> </p>
      </div>
      <div class="one-third">
        <!--img class="border" src="assets/images/content/images/one-third-03.png" alt="Beat the market. Be unique." /-->
        <h2>Get found in Google. Build new business</h2>
        <p><img style="margin-right: 5px" src="http://static.jobshout.co.uk/images/features/seo.gif" border="0" align="left" />Do you want to achieve top natural search engine rankings for your jobs? Do you wish if you could slash your Google Adwords spend without any impact on your business revenue? Contact us now to find out how Jobshout can help you slash PPC costs, attract passive candidates and generate new business, while maintaining powerful and trusted online presense.<br />
          <a class="btn black" href="key-features.html"><span>Read more</span></a> </p>
      </div>
      <div class="hr noline"></div>
      <div class="full-page">
        <div class="twitterfeed">
          <div class="message" id="twitter">
           <!--<p>Please wait while our tweets load <img src="assets/images/general/indicator.gif" alt="indicator" /></p>-->
         
		 <p><a class="twitter-timeline"  href="https://twitter.com/jobshoutnews" data-chrome="nofooter noheader noborders transparent"  data-tweet-limit="1"   data-widget-id="345483707932622848">Tweets by @jobshoutnews</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs"); </script>
<script src="customize-twitter-1.1.min.js" type="text/javascript"></script>
<script>
var options = {
    "url": "twitter.css"
};
CustomizeTwitterWidget(options);
</script></p>
		 
		 
          </div>
        </div>
      </div>
      <div class="hr noline"></div>
      <div  class="one-third services">
        <div class="img"><img src="assets/images/icons/icon-services-custom.png" alt="Custom" /></div>
        <div class="service-txt">
          <h6>Custom development</h6>
          <p>Jobshout enterprise system comes with custom development add-on services, tailored to each client's requirements. These customised services ensures each client achieves their business goals and make most of the Jobshout technology and expertise.</p>
        </div>
      </div>
      <div  class="one-third services">
        <div class="img"><img src="assets/images/icons/icon-services-support.png" alt="Support" /></div>
        <div class="service-txt">
          <h6>Support 24/7</h6>
          <p>Normal technical support and advise line is open between 9 till 5. Our international presense allows us to have arranged technical support available 24/7.</p>
        </div>
      </div>
      <div  class="one-third">
        <h6 class="toggle-heading">What we do</h6>
        <h6 class="toggle"><span class="indicator"></span><a class="btn grey" href="#"><span>Marketing</span></a></h6>
        <div class="toggle_div">
          <div class="block">
            <p>Jobshout can work with you marketing department to run tailor-made campaigns and implement a solution which works for your business. You can be confident that you are using trusted and tested technology to bring real results. </p>
          </div>
        </div>
        <h6 class="toggle"><span class="indicator"></span><a class="btn grey" href="#"><span>Development</span></a></h6>
        <div class="toggle_div">
          <div class="block">
            <p>Jobshout has been serving clients in many different market sectors with-in Recruitment and HR for over 7 years. Our development team is currently working on our next major release Jobshout version 5 - the all new cloud based solution with ATS / CRM, Candidate Bookings and Timesheet billing. Our modular software development approach ensures we keep the software simple and powerful and keep up-to-date with technology so you can concentarte on what you do best. </p>
          </div>
        </div>
        <h6 class="toggle"><span class="indicator"></span><a class="btn grey" href="#"><span>Branding</span></a></h6>
        <div class="toggle_div">
          <div class="block">
            <p>Jobshout quickly and seamlessly adds a branded job board to your website, with no capital costs or technical expertise involved. &ldquo;We can literally have a job board up and running within an 24 hours,&rdquo; says managing director B S WALIA, &ldquo;and that means a site that reflects the look and feel of the main site, as well as the client’s branding.&rdquo;</p>
          </div>
        </div>
      </div>
      <div class="hr"></div>
      <div class="full-page">
        <h2>Some of our finished job boards</h2>
        <ul class="screens">
          <li><a id="a4plus0" onClick="OpenColorBox('a4plus0');" href="http://www.a4plus.co.uk/" target="_blank" title="A4Plus Project" rel="prettyPhoto[5]"><img class="border" src="http://static.jobshout.co.uk/images/a4plus_website.jpg" alt="demo img" width="88" height="72" /></a></li>
          <!--li><a id="propelmobile0" onClick="OpenColorBox('propelmobile0');" href="http://www.propel-mobile.com/" target="_blank" title="Propel Mobile Project" rel="prettyPhoto[2]"><img class="border" src="images/casestudies/propel-mobile-82x68.png" alt="demo img" width="88" height="72" /></a></li-->
          <li><a id="propellondon0" onClick="OpenColorBox('propellondon0');" href="http://www.propellondon.com/" target="_blank" title="Propel London Project" rel="prettyPhoto[7]"><img class="border" src="images/casestudies/propel-london-82x70.png" alt="demo img" width="88" height="72" /></a></li>
          <li><a id="mh0" onClick="OpenColorBox('mh0');" href="http://www.marshallharber.com/" target="_blank" title="Marshall Harber Project" rel="prettyPhoto[0]"><img class="border" src="http://static.jobshout.co.uk/images/marshallharber_website.jpg" width="88" height="72" alt="demo img" /></a></li>
          <li><a id="7star" onClick="OpenColorBox('7star');" href="http://7star.jobshout.co.uk/" target="_blank" title="7 Star Project"><img class="border" src="http://static.jobshout.co.uk/images/7star-small.png" alt="demo img" width="88" height="72" /></a></li>
          <li><a id="mjitu" onClick="OpenColorBox('mjitu');" href="http://www.marketingjobsintheuk.com/" target="_blank" title="Marketting Jobs Project"><img class="border" src="img/marketingjobsintheuk.png" width="88" height="72" alt="demo img" /></a></li>
          <li><a id="helix" onClick="OpenColorBox('helix');" href="http://jobs.helixrecruitment.co.uk/" target="_blank" title="Helix Recruitment Project"><img class="border" src="http://static.jobshout.co.uk/images/helix.png" width="88" height="72" alt="demo img" /></a></li>
          <li><a id="cvscreen" onClick="OpenColorBox('cvscreen');" href="http://www.cvscreen.co.uk/" target="_blank" title="CV screen Project"><img class="border" src="img/phpjobinuk.png" alt="demo img" width="88" height="72" /></a></li>
          <li><a id="acntwrk" onClick="OpenColorBox('acntwrk');" href="http://www.accountancyworkjobs.co.uk/" target="_blank" title="Accountancy Work"><img class="border" src="images/casestudies/cvscreen.jpg" alt="demo img" width="88" height="72"  /></a></li>
          <!--li><a id="stkbrn" onClick="OpenColorBox('stkbrn');" href="http://www.stockbrun.com/" target="_blank" title="StockBurn Project"><img class="border" src="http://www.tenthmatrix.co.uk/images/portfolio_thumbs/11.png" width="88" height="72" alt="demo img" /></a></li-->
          <li><a id="hNrbt" onClick="OpenColorBox('hNrbt');" href="http://humansnotrobots.jobshout.co.uk/" target="_blank" title="Humans, Not Robots"><img class="border" src="http://static.jobshout.co.uk/images/humansnotrobots.png" width="88" height="72" alt="demo img" /></a></li>
          <li class="image"><div><a href="http://static.jobshout.co.uk/images/sharepointstaff_website.jpg" rel="imagegallery" class="caseStdy"><img class="border" src="http://static.jobshout.co.uk/images/sharepointstaff_website.jpg" alt="URL not available" width="88" height="72" /></a></div></li>
          <li class="image"><div><a href="images/casestudies/work-station.jpg" rel="imagegallery" class="caseStdy"><img class="border" src="http://static.jobshout.co.uk/images/workstation_website.jpg" alt="URL not available" width="88" height="72"  /></a></div></li>
          <li><a id="regJobs" onClick="OpenColorBox('regJobs');" href="http://www.regardingjobs.co.uk/" target="_blank" title="Regarding Jobs Project"><img class="border" src="img/regardingrecruitment.png" alt="demo img" width="88" height="72" /></a></li>
        </ul>
        <a href="/case-studies" class="btn black"><span>See our portfolio</span></a> </div>
    </div>
    <!-- end content -->
  </div> <!-- end contentContainer -->
<!-- end wrapper -->
</div>
    <!--footer start-->
    <% include ../partials/footer %>
    <!--footer end-->
    
  </body>
</html>