<% include ../partials/main-header %>
<% 	
var pageNum=1;
if (typeof queryStr.page !== "undefined" && queryStr.page!="" && queryStr.page!="") { 
pageNum=queryStr.page;
 } %>
<style>
.blog-item h1 {
	margin-top:0px!important;
}
</style>
</head>
<body>
 	<div id="wrapper">
		<% include ../partials/header %>
		<div id="contentContainer" class="full-width">
			<h1>News</h1>
			<div id="newsData">

				<!--BSW 20120216 jquery to populate content on load / while page navigation-->
			</div>
			<div style="text-align:center;margin-top:20px;" id="img_loading_div">
						Loading...<br /> <img id="imgAjaxLoading" src="images/loading-1.gif"" width="109" height="25" style="border-width: 0px;">
			</div>
		</div>
	</div>

   	<!--footer start-->
    <% include ../partials/footer %>
    <!--footer end-->
<script>
var xhrStatus;
var searchkeyword="", typeStr="news", currentPageNum='<%= pageNum %>';
var pageSize=3, totalNum=0;
var start=0, end=pageSize;

$(document).ready(function() {
	$('#img_loading_div').show();
	currentPageNum= parseInt(currentPageNum);
	start=(pageSize * (currentPageNum-1))+1;
	load_data();
});

function timeConverter(UNIX_timestamp){
  var a = new Date(UNIX_timestamp * 1000);
  var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
  var year = a.getFullYear();
  var month = months[a.getMonth()];
  var date = a.getDate();
  return '<div id="blogdate" style=" width: 60px;!important"><span id="blogdate-day">'+date+'</span>&nbsp;<span id="blogdate-month">'+month+'</span>&nbsp;<span id="blogdate-day">'+year+'</span>&nbsp;</div>';
}

function applyPagination(total_count,displayResultsNum){
	currentPageNum= parseInt(currentPageNum);
	var itemsPerPage=pageSize;
	var paginationHtml='<div id="page-nav"><ul>';
	var tpages = Math.ceil(total_count/itemsPerPage);
	//console.log(tpages);	
	if(tpages<=0){
		tpages=1;
	}
	var adjacents = 2;
	var currentLink= "/news";
	if (currentPageNum == 1) {
		paginationHtml+= '<li><a href="javascript:void(0)" ><</a></li>';
   	} else if (currentPageNum == 2) {
   		paginationHtml+= '<li><a href="javascript:void(0)" href="'+currentLink+'"><</a></li>';
    } else {
        var prePage= currentPageNum-1;
        paginationHtml+= '<li><a href="'+currentLink+'?page='+prePage+'"><</a></li>';
    }
   											
   	var pmin=1;
   	if(currentPageNum>adjacents){
   		pmin=parseInt(currentPageNum) - parseInt(adjacents);
   	}
   											
    var pmax=tpages;
    if(currentPageNum < (tpages - adjacents)){
    	pmax = parseInt(currentPageNum) + parseInt(adjacents);
	}
    									
	for (var i=pmin; i <= pmax; i++) {
    	if (i == currentPageNum) {
        	paginationHtml+= '<li class="current"><a href="javascript:void(0)" >'+i+'</a></li>';
        } else if (i == 1) {
        	paginationHtml+= '<li><a href="'+currentLink+'" >'+i+'</a></li>';
        } else {
       		paginationHtml+= '<li><a href="'+currentLink+'?page='+i+'">'+i+'</a></li>';
    	}
   	}
   											
   	if (currentPageNum<(tpages - adjacents)) {
		paginationHtml+= '<li><a href="'+currentLink+'?page='+tpages+'" >'+tpages+'</a></li>';
    }
    
    // next
    if (currentPageNum < tpages) {
    	var nxtPage= parseInt(currentPageNum)+1;
    	paginationHtml+= '<li><a href="'+currentLink+'?page='+nxtPage+'">></a></li>';
    } else {
    	paginationHtml+= '<li><a href="javascript:void(0)">></a></li>';
    }
	paginationHtml+='<span class="pages"> '+displayResultsNum+' of '+total_count+'</span>';
	paginationHtml+='</ul>';
	paginationHtml+='<div style="height:30px;"> </div>';
	return paginationHtml;
}

	
	function load_data(){
		$(".alert").remove();
		var jsonRow="/search-results?start="+start+"&s=&type="+typeStr+"&limit="+pageSize,
		xhrStatus=$.getJSON(jsonRow,function(html){
			if(html.error){
				$("#newsData").before('<div class="alert" style="text-align:center"><h2>No recent news found!</h2></div>');
			}else{
				
				if(html.total){
					totalNum=parseInt(html.total);
					if(totalNum>=1){
						var displayNum=0;
						if(html.total_display){
							displayNum=html.total_display;
						}
						var paginationStr=applyPagination(totalNum,displayNum);
						$("#newsData").before(paginationStr);
					}
				}
				if(html.total_display){
					
				}
				var contentHtml="";
				$.each(html.aaData, function(i,row){
					if(row.Code!=""){
						var bodyStr=row.Body;
                      	bodyStr=bodyStr.replace(/<\/?[^>]+(>|$)/g, "");
                      	bodyStr=bodyStr.substr(0, 250);
                      	
                      	contentHtml+=timeConverter(row.Published_timestamp);
            			contentHtml+='<h2><a href="/'+row.Code+'">'+row.Document+'</a></h2>	';
              			contentHtml+='<br>';
                		contentHtml+='<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
                  		contentHtml+=bodyStr;
               			contentHtml+='...&nbsp;<a href="/'+row.Code+'" title="'+row.Document+'">more</a></p>';
                		contentHtml+='<br><br>';
                    }
				});
				$("#newsData").html(contentHtml);
			}
			
			$('#img_loading_div').hide();
			
		});
	}

</script>
  </body>
</html>