<%  include include/main-header %>
</head>
<body>
<div id="wrapper">
	<% include include/header %>

	<div id="contentContainer" class="full-width">
		<!-- cookie law uk notice -->
			<% include include/cookie-law-notice %>
    		<!-- cookie law uk notice -->
		<div id="content" >
			<h1>Sign Up</h1>
			<form id="signup" name="signup" method="post" action="" class="cmxform">
			<p class="lablewidth">Name <span class="signupred">*</span></p>
			<p><input type="text" id="name" value="" name="name" style="border:1px solid #a6a9aa; border-bottom:none; border-radius:4px; height:30px; overflow-y:hidden; width:270px; background:#d1d5d7;"></p>
			<p class="lablewidth">Email <span class="signupred">*</span></p>
			<p>	<input type="text" value="" id="email" name="email" style="border:1px solid #a6a9aa; border-bottom:none; border-radius:4px; height:30px; overflow-y:hidden; width:270px; background:#d1d5d7;"></p>
			<p class="lablewidth">Verify Email <span class="signupred">*</span></p>
			<p><input type="text" value="" class="required" name="verifyEmail" id="verifyEmail" style="border:1px solid #a6a9aa; border-bottom:none; border-radius:4px; height:30px; overflow-y:hidden; width:270px; background:#d1d5d7;"></p>
			<p class="lablewidth">Telephone:</p>
			<p><input type="text" value="" class="required" name="telephone" id="telephone" style="border:1px solid #a6a9aa; border-bottom:none; border-radius:4px; height:30px; overflow-y:hidden; width:270px; background:#d1d5d7;"></p>
			<p class="lablewidth">Requirements: </p>
			<p style="padding-bottom:0px; margin-bottom:0px;"><textarea type="text" style="border:1px solid #a6a9aa; border-bottom:none; border-radius:4px; height:150px; overflow-y:hidden; width:270px; background:#d1d5d7;" id="requirements" name="requirements"></textarea></p>
			<div style="padding-left:130px;"><em>Please enter your job board requirements</em></div>
			<p class="lablewidth"></p>
			<p style="padding-left:353px;" class="buttons"><button class="btn black" type="submit" id="postBtn">Submit</button></p>  
			</form>         
     	</div> <!-- end content -->
	</div>
</div>

   	<!--footer start-->
    <% include include/footer %>
    <!--footer end-->
<script>
	$("#signup").validate({
		rules: {
			name: "required",
			email: {
				required: true,
				email: true
			},
			verifyEmail: {
				required: true,
				email: true,
				equalTo: "#email"
			},
			telephone: "required",
			requirements : "required"
		},
		messages: {
			name: "Please enter your name",
			email: {
				required: "Please enter your E-mail",
				email: "Please enter valid E-mail"
			},
			verifyEmail: {
				required: "Please re-enter your E-mail",
				email: "Please enter your E-mail",
				equalTo: "Email entered doen't match with above E-mail",
			},
			telephone: "Please leave your message!",
			requirements: "Required Field!"
		},
		submitHandler: function(form) {
			$(".alert").remove();
    		$("#postBtn").html("Submitting...");
    		$("#postBtn").prop("disabled",true);
    		$.ajax({
				type: "POST",
				url: "savewiusers",
				headers : { "cache-control": "no-cache" },
				data: {'telephone' : $("#telephone").val(), 'name' : $("#name").val(), 'email' : $("#email").val(), 'requirements' : $("#requirements").val() },
				dataType: "json",
				cache: false,
				success: function(response){
					$("#postBtn").html("Submit");
    				$("#postBtn").prop("disabled",false);
    				$('#signup').trigger("reset");
					if(response.success){
						$("#signup").before('<div class="alert" style="font-size:16px; color: green;">'+response.success+'</div>');
					}else if(response.error){
						$("#signup").before('<div class="alert"  style="font-size:16px; color: #CC0000;">'+response.error+'</div>');
					}
				}
			});
		}
	});
</script>
</body>
</html>