<html>
<head>
<link href="assets/css/reset.css" rel="stylesheet" media="screen" />
<link href="assets/css/basics.css" rel="stylesheet" media="screen" />
<link href="assets/css/default.css" rel="stylesheet" media="screen" />
<link href="assets/css/elements.css" rel="stylesheet" media="screen" />

</head>
<body style="background:none;">
<script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
<script src="assets/js/jquery.bxSlider.js" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('#tour_slider').bxSlider();
  });
</script>

<style type="text/css">
.page{
	padding-top: 25px;
	padding-left:50px;
	float:left;
	width:550px;
}

.bx-prev {
	position: absolute;
	/*top: 220px;
	left: -55px;*/
	top: 200px;
	left: 0;
	width: 31px;
	height: 31px;
	text-indent: -999999px;
	background: url(images/icon_arrow_left.png) no-repeat 0 -31px;
}

.bx-next {
	position: absolute;
	/*top: 220px;
	right: -40px;*/
	top: 200px;
	right: 290px;
	width: 31px;
	height: 31px;
	text-indent: -999999px;
	background: url(images/icon_arrow_right.png) no-repeat 0 -31px;
}

.bx-next:hover,
.bx-prev:hover {
	background-position: 0 0;
}

</style>


<div id="wrapper">
	
    <ul id="tour_slider"> 
        <li>
            <div class="page">
            <div class="half_page_l">
            <h1> 	What is Jobshout?
            </h1>
            <p><div id="gallery"><!-- TOKEN: FieldMainTextHTML -->
            <p>Jobshout is a way for recruitment companies, employers and other organizations to set up a job board</p>
            <ul>
            <li>Quickly</li>
            <li>With no capital outlay - spread the cost over 12 months or more </li>
            <li>Option to use ready made template to save design expenditure or we completely design your job board</li>
            <li>With no web server license or hosting cost </li>
            <li>With world class tech support as part of the contract</li>
            </ul>
            <p>Using the design of your own website, and running under your own doman if you wish, you can have a fully functional job board that lets you</p>
            <ul>
            <li>Advertise jobs</li>
            <li>Manage candidates, applications and CVs</li>
            <li>Choose from a range of extra services&nbsp;</li>
            </ul>
            <p>And it automatically optimizes content so that everything gets found, indexed and well-ranked by Google and other search engines.</p>
            <!-- TOKEN END: FieldMainTextHTML --></div></p>
            
<!--            <p><a class="tour_item" href=""> 	<a href="tour1.html">Publish jobs on the web</a> &raquo;</a></p>
-->            
            </div>
            <div class="half_page_r">
            <img src="http://static.jobshout.co.uk/images/jobshout_app.gif" border=0 id=image1>
            </div>
            <br class="clear" />
            </div>        
        </li>
        
         
        <li>
            <div class="page">
            <div class="half_page_l">
            <h1> 	Publish your jobs on the web
            </h1>
            <p><!-- TOKEN: FieldMainTextHTML -->
            <p>Here&rsquo;s how a job looks when you publish it with Jobshout.</p><p>This is a real-world example, showing how a job ad appears on the site of a Jobshout user.&nbsp;</p><p>See how simple and elegant it is, giving key information in an easily understandable manner.</p><p>And how great the site looks, keeping the look, feel and overall design of the main website.</p><p>Moreover, though you can&#39;t see it, this job is published on a subdomain of the main site - jobs.workstation.co.uk - so it appears as a seamless part of the main site.</p>
            <!-- TOKEN END: FieldMainTextHTML --></p>
            
<!--            <p><a class="tour_item" href=""> 	<a href="tour2.html">What happens in a Google search &rsaquo; continue</a> &raquo;</a></p>
-->            
            </div>
            <div class="half_page_r">
            <img src="images/tour1.jpg" border=0 id=image1>
            </div>
            <br class="clear" />
            </div>
        </li> 
        
        
        <li>
            <div class="page">
            <div class="half_page_l">
            <h1> 	Here's what happens in a Google search
            </h1>
            <p><!-- TOKEN: FieldMainTextHTML -->
            <p>Here&rsquo;s what happens when you do a Google search for &ldquo;Quark operator&rdquo; (this is a real example by the way).</p><p>Jobshout&rsquo;s built-in search engine optimization has worked. </p><p>Our job comes out at the top of the search engine page rankings.</p>
            <!-- TOKEN END: FieldMainTextHTML --></p>
            
<!--            <p><a class="tour_item" href=""> 	<a href="tour3.html">Entering a job &rsaquo; continue</a> &raquo;</a></p>
-->            
            </div>
            <div class="half_page_r">
            <img src="images/tour2.jpg" border=0 id=image1>
            </div>
            <br class="clear" />
            </div>
        </li> 
        
        
        <li>
            <div class="page">
            <div class="half_page_l">
            <h1> 	Entering a job
            </h1>
            <p><!-- TOKEN: FieldMainTextHTML -->
            <p>Putting a job ad on Jobshout could hardly be easier. </p><p>A simple web-based form means that you put all the right information in the right places. </p><p>Here&rsquo;s our job that performed so well.</p>
            <!-- TOKEN END: FieldMainTextHTML --></p>
            
<!--            <p><a class="tour_item" href=""> 	<a href="tour4.html">Easy-to-use text editor &rsaquo; continue</a> &raquo;</a></p>
-->            
            </div>
            <div class="half_page_r">
            <img src="images/tour3.jpg" border=0 id=image1>
            </div>
            <br class="clear" />
            </div>
        </li> 
        
 
        <li>
            <div class="page">
            <div class="half_page_l">
            <h1> 	Easy-to-use text editor
            </h1>
            <p><!-- TOKEN: FieldMainTextHTML -->
            <p>You don&rsquo;t need to do anything complicated when entering your job. </p><p>Our entry window contains an easy-to-use text editor that lets you format text, create a list of bullet points, insert links, and do a host of other things just by using our graphical user interface.</p><p>Jobshout is always easy to use, even for the least computer-savvy person.&nbsp;</p>
            <!-- TOKEN END: FieldMainTextHTML --></p>
            
            <!--				<p><a class="tour_item" href=""> 	<a href="tour5.html">The dashboard &rsaquo; continue</a> &raquo;</a></p>
            -->				 	
            </div>
            <div class="half_page_r">
            <img src="images/tour4.jpg" border=0 id=image1>
            </div>
            <br class="clear" />
            </div>
        </li> 
        
        
        <li>
            <div class="page">
            <div class="half_page_l">
            <h1> 	The dashboard
            </h1>
            <p><!-- TOKEN: FieldMainTextHTML -->
            <p>As soon as you enter the user environment for Jobshout, the system presents your dashboard, showing you how well the system is working for you. </p><p>Here you can see top-performing jobs, the latest jobs to be posted onto the site, what traffic the site is getting (delivered in real time), and much more.</p>
            <!-- TOKEN END: FieldMainTextHTML --></p>
            
            <!--				<p><a class="tour_item" href=""> 	<a href="tour6.html">Track your performance</a> &raquo;</a></p>
            -->				 	
            </div>
            <div class="half_page_r">
            <img src="images/dashboard.gif" border=0 id=image1>
            </div>
            <br class="clear" />
            </div>       
        </li>
        
        
        <li>
            <div class="page">
            <div class="half_page_l">
            <h1> 	Track your performance
            </h1>
            <p><!-- TOKEN: FieldMainTextHTML -->
            <p>Jobshout supplies you with a wide range of useful statistics.</p><p>Want to know how many jobs you have on the go and what their total value is? Jobshout will tell you.&nbsp;</p><p>Do you want to be able to see at a glance how your week is progressing? Jobshout tells you that too.</p><p>Would you like to know how many candidates and job applications Jobshout is bringing each day? Guess what&hellip;</p><p>They say that information is power, and that&#39;s what Jobshout gives you - the power to manage and improve your business.&nbsp;</p>
            <!-- TOKEN END: FieldMainTextHTML --></p>
            
            <!--				<p><a class="tour_item" href=""> 	<a href="tour-jobsearch">Searching for jobs</a> &raquo;</a></p>
            -->				 	
            </div>
            <div class="half_page_r">
            <img src="images/tour6.jpg" border=0 id=image1>
            </div>
            <br class="clear" />
            </div>
        
        </li>
        
        
        <li>
            <div class="page">
            <div class="half_page_l">
            <h1> 	Searching for jobs
            </h1>
            <p><!-- TOKEN: FieldMainTextHTML -->
            <p>When visitors arrive at your site they are greeted with an easy, intuitive job search screen.</p><p>They can simply click on a link for jobs in a particular market sector, or which require specific skills, or they can use the search dialog shown here. </p>
            <!-- TOKEN END: FieldMainTextHTML --></p>
            
            <!--				<p><a class="tour_item" href=""> 	<a href="tour-joblist"> Viewing and applying for jobs</a> &raquo;</a></p>
            -->				 	
            </div>
            <div class="half_page_r">
            <img src="caliban_images/jobsearch.jpg" border=0 id=image1 width="326"  height="568">
            </div>
            <br class="clear" />
            </div>
        
        </li>
        
        
        <li>
            <div class="page">
            <div class="half_page_l">
            <h1> 	Viewing a list of jobs
            </h1>
            <p><!-- TOKEN: FieldMainTextHTML -->
            <p>You visitor is now presented with a list of jobs. This fills part of the screen while leaving the search box still visible.</p><p>Here he or she can scroll down the list, view full job details, and navigate around the system by clicking on links which bring up jobs of a similar nature.</p><p>Jobs can be added to a shortlist. This works in the same way as a shopping cart on an e-commerce site. You add jobs to your shortlist. Then, when you are ready, you go and review it.</p>
            <!-- TOKEN END: FieldMainTextHTML --></p>
            
            <!--				<p><a class="tour_item" href=""> 	<a href="tour-shortlist">View shortlist</a> &raquo;</a></p>
            -->				 	
            </div>
            <div class="half_page_r">
            <img src="caliban_images/joblist.jpg" border=0 id=image1 width="426"  height="310">
            </div>
            <br class="clear" />
            </div>
        
        </li>
        
        
        <li>
            <div class="page">
            <div class="half_page_l">
            <h1> 	Viewing a shortlist and applying for jobs
            </h1>
            <p><!-- TOKEN: FieldMainTextHTML -->
            <p>The system maintains a shortlist of jobs for you, If you go away and come back again, your shortlist will always be there, and you can add to it and come back to it at any time.</p><p>When you review at your shortlist you can also modify it. Eventually, when your visitors are quite satisfied, they can get on with the serious business of applying for the jobs, by filling out the online form and submitting a CV. </p><p>Jobshout manages the process of receiving your job applications, notifying the member of your staff who is handling each job applied for, and replying back to the candidate.</p><p>Using Jobshout&#39;s back-end management system you can view what applications you have received, check on the progress of applications for each job you have advertised, download their CVs and contact candidates via email. </p><p>&nbsp;</p>
            <!-- TOKEN END: FieldMainTextHTML --></p>
            
<!--            <p><a class="tour_item" href=""> 	<a href="tour-nottheend">And that's not the end...</a> &raquo;</a></p>
-->            
            </div>
            <div class="half_page_r">
            <img src="caliban_images/shortlist.jpg" border=0 id=image1 width="426"  height="310">
            </div>
            <br class="clear" />
            </div>
        </li>
        
        
        <li>
        	<div class="page">
				<div class="half_page_l">
				<h1> 	And there's more&hellip;
</h1>
				 	<p><!-- TOKEN: FieldMainTextHTML -->
<p>That&#39;s just a brief introduction to the way that Jobshout works in its most basic form. Your job board is now published as yourname.jobshout.co.uk. You can also register another domain or subdomain, such as jobs.yourdomain.com and publish to that too.</p><p>Jobshout also publishes current jobs on jobs.jobshout.co.uk </p><p>Now read on to find out some of the other varied options available under Jobshout Pro. </p>
<!-- TOKEN END: FieldMainTextHTML --></p>
				 	 	
<!--				<p><a class="tour_item" href=""> 	<a href="tour-pro">Jobshout Pro</a> &raquo;</a></p>
-->				 	
				</div>
				<div class="half_page_r">
				 	 	 	<img src="images/jobshout_app.gif" border=0 id=image1>
				</div>
				<br class="clear" />
			</div>
        
        </li>
        
        
        <li>
        	<div class="page">
				<div class="half_page_l">
				<h1> 	Jobshout Pro
</h1>
				 	<p><!-- TOKEN: FieldMainTextHTML -->
<p>There are many more features and options available to users of Jobshout Pro. These include:</p><ul><li>Contact signups and autoresponses <br /> </li><li>Email job alerts for candidates</li><li>RSS feed of latest jobs<br /> </li><li>XML feed for publishing jobs on other job boards, Twitter Job Search, etc.<br /> </li><li>Publishing your jobs via Broadbean</li><li>Mobile phone site</li><li>Text site for people with impaired vision</li><li>Intranet content management system</li><li>Web pages content management system </li><li>Publishing your data on multiple domains</li></ul>And you can even have a job board that clients can post to themselves!
<!-- TOKEN END: FieldMainTextHTML --></p>
				 	 	
<!--				<p><a class="tour_item" href=""> 	<a href="tour-cjb">More info</a> &raquo;</a></p>
-->				 	
				</div>
				<div class="half_page_r">
				 	 	 	<img src="images/jobshout_app.gif" border=0 id=image1>
				</div>
				<br class="clear" />
			</div>
        
        </li>
        
        
        <li>
        	<div class="page">
				<div class="half_page_l">
				<h1> 	Community job boards
</h1>
				 	<p><!-- TOKEN: FieldMainTextHTML -->
<p>Community Job Boards are job boards that serve a niche market and build on an existing community of users. They work in a way which is similar to the big job boards like Monster, TotalJobs etc., in that clients can post ads themselves, review job progress and so on.</p><p>Jobshout is an ideal system for running a <a href="what-is-a-community-job-board" target="_blank">Community Job Board</a> . Setup costs are minimal, you need no technical expertise to manage it and your job board can be a powerful <a href="seo" title="Search Engine Optimization">SEO</a>  tool for your core business. </p><p>To find out more <a href="mailto:info@jobshout.co.uk">email us</a>  or call +44 (0)1442 381434.</p>
<!-- TOKEN END: FieldMainTextHTML --></p>
				 	 	
<!--				<p><a class="tour_item" href=""> 	<a href="tour7">More info</a> &raquo;</a></p>
-->				 	
				</div>
				<div class="half_page_r">
				 	 	 	<img src="caliban_images/yourjobboardcouldbehere.jpg" border=0 id=image1 width="400"  height="288">
				</div>
				<br class="clear" />
			</div>
        
        </li>
        
        
        <li>
        	<div class="page">
				<div class="half_page_l">
				<h1> 	
</h1>
				 	<p><!-- TOKEN: FieldMainTextHTML -->
<p>&quot;When we decided to start advertising job vacancies on our website, we were faced with the choice of creating the system ourselves, or of using an external service.&nbsp; </p><p>&quot;We chose to use Jobshout for a number of reasons; not least was the excellent administration and reporting backend coupled to the flexible service delivered on a personal basis by knowledgeable staff.&nbsp; Integration into our site, replicating the look and feel completely, was part of the service provided.&nbsp; </p><p>&quot;We are completely satisfied with the service offered by Jobshout.&quot;<br /><br /><i>Bob Clements<br />Generic Software Consultants Limited</i></p>
<!-- TOKEN END: FieldMainTextHTML --></p>
				 	 	
				<p><a href="http://demo.jobshout.co.uk">Visit our demo site</a></p>
				 	
				<p><a href="http://www.bornpodcast.com/shownote.php?ep=28&sn=218">Listen to Nathan's interview on bornpodcast.com</a> </p>
				 	
				<p><a href="what-is-a-community-job-board">More on community job boards</a></p>
				 	
				<p><a href="signup.html">Sign up for a trial</a></p>
				 	
				</div>
				<div class="half_page_r">
				 	 	 	<img src="images/tour7.jpg" border=0 id=image4>
				</div>
				<br class="clear" />
			</div>
        </li>
        
    </ul>

<!-- end wrapper -->
</div>

</body></html>